body {
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  height: 98vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  grid-gap: .6rem;
}

nav {
  background: #a7ffeb;
  grid-area: nav;
}

main {
  background: #84ffff;
  grid-area: main;
}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
}

#section1 {
  background: #6fffd2;
  grid-area: content1;
}

#section2 {
  background: #64ffda;
  grid-area: content2;
}

#section3 {
  background: #73ffba;
  grid-area: content3;
}

footer {
  background: #1de9b6;
  grid-area: footer;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
